<div class="page-header">
  <h1>
    Hospitals
    <a href="/hospitals/new" class="btn btn-lg btn-success">New Hospital</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>

      <% @hospitals.each do |hospital| %>
      <tr>
        <td><%= hospital.name %></td>
        <td>
          <a href="/hospitals/<%= hospital.id %>" class="btn btn-primary">Show</a>
          <a href="/hospitals/<%= hospital.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_hospital/<%= hospital.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
